{% load tz %}
{% load custom_tags %}
{% url 'groups:create_event' slug=group.slug as events_create_url %}
{% url 'events:edit' group_slug=group.slug event_id=event.id as events_edit_url %}
<div class="col-md-9">
  <form class="form-horizontal" method="post" action="." enctype="multipart/form-data">
{% if form.errors %}
  {{ form.non_field_errors }}
{% endif %}
  {% csrf_token %}
  <div class="form-group">
    <label for="id_title" class="col-md-3 control-label">{{ form.title.label }}</label>
    <div class="col-md-9">
      {{ form.title.errors }}
      <input name="title" id="id_title" type="text" class="form-control" placeholder="{{ form.title.label }}" value="{{ form.initial.title }}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_description" class="col-md-3 control-label">{{ form.description.label }}</label>
    <div class="col-md-9">
      {{ form.description.errors }}
      <textarea name="description" class="form-control" rows="3" id="id_description" class="form-control" placeholder="{{ form.description.label }}">{{ form.initial.description }}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="id_address" class="col-md-3 control-label">{{ form.address.label }}</label>
    <div class="col-md-9">
      {{ form.address.errors }}
      <input name="address" id="id_address" type="text" class="form-control" placeholder="{{ form.address.label }}" value="{{ form.initial.address }}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_zip_code" class="col-md-3 control-label">{{ form.zip_code.label }}</label>
    <div class="col-md-9">
      {{ form.zip_code.errors }}
      <input name="zip_code" id="id_zip_code" type="text" class="form-control" placeholder="{{ form.zip_code.label }}" value="{{ form.initial.zip_code }}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_start_time" class="col-md-3 control-label ">{{ form.start_time.label }}</label>
    <div class="col-md-9">
      {{ form.start_time.errors }}
      <input name="start_time" id="id_start_time" type="text" class="form-control datetimepicker" placeholder="{{ form.start_time.label }}" required value="{% if form.initial.start_time|type == 'unicode' %}{{ form.initial.start_time }}{% else %}{{ form.initial.start_time|localtime|date:'Y-m-d H:i' }}{% endif %}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_end_time" class="col-md-3 control-label ">{{ form.end_time.label }}</label>
    <div class="col-md-9">
      {{ form.end_time.errors }}
      <input name="end_time" id="id_end_time" type="text" class="form-control datetimepicker" placeholder="{{ form.end_time.label }}" value="{% if form.initial.end_time|type == 'unicode' %}{{ form.initial.end_time }}{% else %}{{ form.initial.end_time|localtime|date:'Y-m-d H:i' }}{% endif %}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_size" class="col-md-3 control-label">{{ form.size.label }}</label>
    <div class="col-md-9">
      {{ form.size.errors }}
      <input name="size" id="id_size" type="text" class="form-control" placeholder="Mininum 1 and leave blank for unlimited" value="{{ form.initial.size }}">
    </div>
  </div>
  <div class="form-group">
    <label for="id_tags" class="col-md-3 control-label">Tags</label>
    <div class="col-md-9">
      {{ form.tags.errors }}
      <input name="tags" id="id_tags" type="text" data-role="tagsinput" placeholder="Input a tag name and press Enter" value="{{ form.initial.tags }}"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      {% if request.path == events_create_url %}
        <button class="btn btn-large btn-primary" type="submit">Create</button>
      {% elif request.path == events_edit_url %}
        <button class="btn btn-large btn-primary" type="submit">Save</button>
      {% endif %}
    </div>
  </div>
  </form>
</div>
