{% extends "events/base.html" %}
{% load static %}
{% block title %}{{ event.title }}{% endblock %}
{% block front_css %}
<style>
    #map-canvas { width: 100%; height: 100% }
    #map-canvas img {
      max-width: none;
    }
    #map-canvas {
      width: auto; display:inline;
    }
</style>
{% endblock %}
{% block content %}
{% url 'events:edit' group_slug=group.slug event_id=event.id as events_edit_url %}
{% include "events/geo_errors.html" %}
<h3 class="content-title">{{ event.title }} {% if request.user in group.staff %}<small><a class="text-muted" href="{{ events_edit_url }}">Edit</a></small>{% endif %}</h3>
<p class="text-muted">From <a href="{{ group.get_absolute_url }}">{{ group.name }}</a></p>
<div class="row">
  <div class="col-md-8">
    {% include "events/event_info.html" %}
    {% include "events/event_description.html" %}
    {% include "events/event_map.html" %}
    {% include "events/event_comments.html" %}
  </div>
  <div class="col-md-4">
    {% include "events/event_participants.html" %}
  </div>
</div>

{% endblock %}
{% block javascript %}
  {% include "events/js/google_maps.html" %}
  {% include "groups/js/join.html" %}
  {% include "events/js/leave.html" %}
  {% include "ajax_token.html" %}
  <script src="{% static 'sprintf/src/sprintf.js' %}"></script>
{% endblock %}
