<div id="geo-error-geolocation" class="alert alert-danger fade in geo-error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>HTML5 Geolocation Error</h4>
        <p>Your location cannot be obtained.</p>
</div>
<div id="geo-error-browser" class="alert alert-danger fade in geo-error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Your browser does not support geolocation</h4>
        <p>Your location cannot be obtained.</p>
</div>