*.py[cod]
.DS_Store

# Credentials and production
credentials.py
credentials_production.py
deploy.sh
post_deploy.sh
geoport/media
celeryd.conf
commit


# Temporary files
*.log
*.rdb
*.pid

# BOWER packages
geoport/components/bower_components/

test
lib
bin
examples
build
builds
*.swp
.ropeproject

