*.py[cod]
.DS_Store

# Credentials and production
credentials.py
credentials_production.py
settings_production.py
deploy.sh
geoport/media

# Temporary files
*.log
*.rdb
*.pid

# BOWER packages
geoport/components/bower_components/bootstrap/
geoport/components/bower_components/jquery/

test
lib
bin
examples
build
builds
