<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6rSZbXNC7h4U8yV_Pw3f5Tks1tD8loKA&libraries=geometry&sensor=true">
</script>
<script>
/* Global variables */
var map;                    // Google Maps
var eventPos;               // Event location
var markers = new Array();  // Marker objects
var currentTrigger = null;  // Animation trigger
var currentMarker = null;   // Marker
var circleRadius = 200;     // Default circle radius for the map
var circleCenter;           // Default circle center for the map
var infoWindow = new google.maps.InfoWindow();  // InfoWindow
var locationUpdateUrl = "{% url 'accounts:location' %}";  // URL for Ajax
var eventMarkersUrl = "{% url 'events:markers' group_slug=group.slug event_id=event.id %}";

// String formatter for InfoWindow content string
var infoContentFormat = '<div class="info-window">';
infoContentFormat += '<div class="info-window-title"><h4 class="panel-title">%s</h4></div>';
infoContentFormat += '<div class="info-window-body"><p>%s</p></div>';
infoContentFormat += '</div>';

/* Initialize the Google Maps canvas */
function initialize() {
  circleCenter = new google.maps.LatLng({{ event.location|join:", "}});
  var mapOptions = {
    zoom: 15,
    center: circleCenter,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  detectBrowser();  // Detect browser to render the map properly

  // Get and update current user's location
  // This calling should be placed in base.html if user agrees terms of use
  // Placing here for testing
  getUserLocation(locationUpdateUrl);

  // Set marker for current event
  setEventMarker();
  setParticipantMarkers();
  //setTimeout(setParticipantMarkers, 2000);
  //google.maps.event.trigger(map, 'resize');
}


/* Load initialize() */
google.maps.event.addDomListener(window, 'load', initialize);

/* Extra functions to be called in initialize() */
function setEventMarker() {
  /* Set marker for event location */
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng({{ event.location|join:", "}}),
    map: map,
    title: '{{ event.title }}'
  });
  var eventContent = sprintf(infoContentFormat, '{{ event.title }}', '{{ event.address }}');
  bindInfo(marker, eventContent, infoWindow);
}

function setParticipantMarkers() {
  $.get(eventMarkersUrl, function( data ) {
    setMarkers(data.markers);
    fitBound();
  });
}

function setMarkers(data) {
  for(var i=0; i < data.length; i++){
    // Initialize location for current marker
    var currentPos = new google.maps.LatLng(data[i].lat, data[i].lon);
    var marker = new google.maps.Marker({
      position: currentPos,
      animation: google.maps.Animation.DROP,
      map: map,
      icon: data[i].pin, 
      title: data[i].name
    });

    var markerContent = sprintf(infoContentFormat, data[i].name, '');

    // Bind InfoWindow
    bindInfo(marker, markerContent, infoWindow);

    // Push marker into global markers
    markers.push(marker);

    // Calculate proper circle radius to circle center
    var currentRadius = google.maps.geometry.spherical.computeDistanceBetween(circleCenter, currentPos);
    if (currentRadius > circleRadius) {
      circleRadius = currentRadius;
    }

  }
}

/* Make the map fit in the bound of calculated circle center and radius*/
function fitBound() {
  var circleOptions = {
      center: circleCenter,
      fillOpacity: 0,
      strokeOpacity:0,
      map: map,
      radius:  circleRadius
  };

  var myCircle = new google.maps.Circle(circleOptions);
  map.fitBounds(myCircle.getBounds());
}

function reloadMap() {
  google.maps.event.trigger(map, 'resize');
}

/**** The following functions remain intact ****/
/* Detect browser type of user to initialize a map that fit */
function detectBrowser() {
  var useragent = navigator.userAgent;
  var mapcanvas = document.getElementById("map-canvas");
  var clientWidth = document.documentElement.clientWidth - 40;
  var clientHeight = document.documentElement.clientWidth;
  if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
    mapcanvas.style.width = clientWidth + 'px';
    mapcanvas.style.height = clientHeight + 'px';
  } else {
    var mapcontainer = $('#map-container');
    var w = mapcontainer.css('width');
    mapcanvas.style.width = w;
    mapcanvas.style.height = w;
  }
}

/* Get user location through HTML5 Geolocation */
function getUserLocation(url){
  // Try HTML5 geolocation
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      if (pos) updateUserLocation(pos, url);  // Update user location via Ajax
    }, function() {
      handleNoGeolocation(true);
    });
  } 
  else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

/* Update user location via Ajax */
function updateUserLocation(pos, url){
  $.post(url, { location : pos.toString().slice(1,-1) });
}

/* Handle geo_error.html messages */
function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    $('#geo-error-geolocation').show();
  } 
  else {
    $('#geo-error-browser').show();
  }
}

/* Bind InfoWindow to a marker, triggered upon click */
function bindInfo(marker, contentString, infowindow) {
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(contentString);
    infowindow.open(map, marker);
    // remove the bounce from the "old" marker
    if (currentMarker) currentMarker.setAnimation(null);
    // set this marker to the currentMarker
    currentMarker = marker;
    // add a bounce to this marker
    marker.setAnimation(google.maps.Animation.BOUNCE);
  });
  google.maps.event.addListener(infowindow, 'domready', function() {
    // whatever you want to do once the DOM is ready    
  });
}

/* Control animation on marker */
function markerTriggerHover(marker_id){
  // `markers' is a global array holding marker objects
  google.maps.event.trigger(markers[marker_id], 'click');
  if (currentTrigger) {
    markers[marker_id].setAnimation(null);
  }
  currentTrigger = markers[marker_id];
  markers[marker_id].setAnimation(google.maps.Animation.BOUNCE);
}

function markerTriggerClick(marker_id){
    google.maps.event.trigger(markers[marker_id], 'click');
}

</script>