{% extends "accounts/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

{%if not is_other %}
<h3 style="color:#428bca">{{ user.first_name }} {{ user.last_name }}</h3>
{%else%}
<h3 style="color:#428bca">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
{%endif%}
<div class="thumbnail pull-right">
  <a href="{% url 'accounts:avatar' %}" class="pull-right">
    {%if not is_other%}
      {% if request.user.avatar %}
        <img src="{{ MEDIA_URL }}{{ request.user.avatar }}" width="100px">
      {% else %}
        <img data-src="holder.js/100x100">
      {% endif %}
    {%else%}
      {% if user.avatar %}
        <img src="{{ MEDIA_URL }}{{ user.avatar }}" width="100px">
      {% else %}
        <img data-src="holder.js/100x100">
      {% endif %}
    {%endif%}
  </a>
  
  {%if not is_other %}
    <div class="caption" style="text-align: center" >
    {% if request.user.avatar %}
        <a href="{% url 'accounts:avatar' %}" class="btn btn-primary btn-sm" role="button" style="margin:1em 0 0 0">Change</a>
    {% else %}
        <a href="{% url 'accounts:avatar' %}" class="btn btn-primary btn-sm" role="button" style="margin:1em 0 0 0">Upload</a>
    {% endif %}
    </div>
  {%endif%}

</div>
<div class="col-md-8">
  <dl class="dl-horizontal">
    {%if not is_other%}
      <dt>Username</dt>
      <dd>{{ request.user.username }}</dd>
      <dt>Email</dt>
      <dd>{{ request.user.email }}</dd>
      <dt>Date joined</dt>
      <dd>{{ request.user.date_joined }}</dd>
      {% if social_auth %}
        <dt>Social account</dt>
        <dd>{{ social_auth.provider|capfirst }}</dd>
      {% endif %}
    {%else%}
      <dt>Username</dt>
      <dd>{{ user.username }}</dd>
      <dt>Email</dt>
      <dd>{{ user.email }}</dd>
      <dt>Date joined</dt>
      <dd>{{ user.date_joined }}</dd>
    {%endif%}
  </dl>
</div>

{% endblock %}
