{% load string_tags %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand site-brand" href="/">{% include "global/project_logo.html" %}{% include "global/project_name.html" %}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% include "navbar/user.html" %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form site-search" role="form" method="get" action="{% url 'search:index' %}">
          <div class="form-group">
            <input name="query" type="text" size="32" class="form-control" placeholder="Search group, events and friends" value="{{ request.GET.query }}">
          </div>
        </form>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

