{% extends "portal.html" %}
{% block title %}
  GeoPort
{% endblock %}
{% block sitename %}
  {# Override '- project_name'#}
{% endblock %}
{% block content %}
<div class="row">
  <div class="jumbotron portal-well">
    <h2 class="text-center">Welcome To <span style="font-weight: normal">GeoPort</span></h2>
    <ul class="lead list-unstyled list-portal col-md-10 col-md-offset-1">
      <li><span class="glyphicon glyphicon-map-marker"></span> Locate your friends and highlight events by leveraging Google Maps.</li>
      <li><span class="glyphicon glyphicon-map-marker"></span> Make real-time location sharing simple and intuitive.</li>
      <li><span class="glyphicon glyphicon-map-marker"></span> Build your geo-social graph by finding users, events and groups on the map.</li>
    </ul>
    <div class="row text-center">
      <a class="btn btn-lg btn-success" href="/accounts/signup/" role="button">Start GeoPorting</a>
    </div>
  </div>
</div>
{% endblock %}