{% extends "portal.html" %}
{% block title %}
  GeoPort
{% endblock %}
{% block sitename %}
  {# Override '- project_name'#}
{% endblock %}
{% block content %}
<div class="row">
  <div class="jumbotron portal-well" style="text-align:center">
    <h2>Welcome To GeoPort</h2>
    <p class="lead">Locate your friends and highlight events by leveraging Google Maps. Make real-time location sharing simple and intuitive. Build your geo-social graph by finding users, events and groups on the map.</p>

    <p><a class="btn btn-lg btn-success" href="{% url 'accounts:signup' %}" role="button">Sign up today</a></p>
  </div>
</div>
{% endblock %}