{% extends "groups/base.html" %}
{% load static %}
{% block title %}Create Group{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static "bootstrap-tagsinput/dist/bootstrap-tagsinput.css" %}">
{% endblock %}
{% block content %}
<h3 class="content-title">Create Group</h3>
{% include "groups/group_form.html" %}
{% endblock %}
{% block javascript %}
  <script src="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
  {% include "groups/js/tags.html" %}
{% endblock %}
