{% load tz %}
<div class="sidebar-block">
  <div class="list-group">
    {% include "groups/group_logo.html" %}
    <li class="list-group-item list-group-info">
      <div class="list-group-item-text">
        <div class="row">
          <div class="col-md-12">
            <b>Established</b>
            <span class="pull-right">{{ group.date_created|timezone:"America/New_York"|date:"F j, Y" }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Members</b>
            <span class="pull-right">{{ group.members|length }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Past Events</b>
            <span class="pull-right">{{ group.past_events|length }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Creator</b>
            <div style="margin:1.5em 0"><a href="{{ group.creator.get_absolute_url }}">{{ group.creator.name }}</a></div>
          </div>
          <div class="col-md-6">
            <span class="pull-right" style="margin:1em 0 0 0">
              {% include "thumb.html" with url=group.creator.get_absolute_url thumb=group.creator.avatar size="50px" %}
            </span>
          </div>
        </div>
        {% include "groups/group_tags.html" %}
      </div>
    </li>
    {% if request.user not in group.staff %}
      <li class="list-group-item">
      {% if request.user in group.regular_users %}
        <a type="button" id="quit-button" class="btn btn-danger btn-lg btn-block">Quit</a>
      {% else %}
        <a type="button" id="join-button" class="btn btn-success btn-lg btn-block">Join</a>
      {% endif %}
      </li>
    {% endif %}
  </div>
</div>