{% extends "groups/base.html" %}
{% block title %}{{ group.name }}{% endblock %}
{% block content %}
{% url 'groups:settings' slug=group.slug as groups_settings_url %}
<h3 class="content-title">{{ group.name }} {% if request.user in group.staff %}<small><a class="text-muted" href="{{ groups_settings_url }}">Settings</a></small>{% endif %}</h3>
{% if group.description %}
  <div class="row">
    <div class="col-md-8" style="margin:0.5em 0 1.5em 0">
      {{ group.description }}
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="col-md-8">
    {% include "groups/group_events.html" %}
  </div>
  <div class="col-md-4">
    {% include "groups/group_members.html" %}
  </div>
</div>

{% endblock %}

{% block javascript %}
  {% include "groups/js/join.html" %}
  {% include "ajax_token.html" %}
{% endblock %}