<div class="user-list-group">
  <ul class="list-group" style="margin:1em">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-8">
          Name
        </div>
        <div class="col-md-4">
          <div class="member-avatar thumbnail" style="width: 50px; height: 50px">
            <img data-src="holder.js/100%x100%" alt="Member Avatar">
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>