<div class="user-list-group">
  <ul class="list-group" style="margin:10px">
    {% for user in users %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            {{ user.user.name }}
          </div>
          <div class="col-md-4">
            {% include "thumb.html" with url=user.user.get_absolute_url thumb=user.user.avatar size="50px" %}
          </div>
        </div>
      </li>
    {% empty %}
      <p style="text-align: center">No {{ category }}.</p>
    {% endfor %}
  </ul>
</div>