<script>
// typeahead.js
$('#id_admins').typeahead({
  name: 'admins',
  remote: '{% url 'accounts:users' %}?query=%QUERY',
  limit: 8,
  template: '<p>{% templatetag openvariable %}name{% templatetag closevariable %} ({% templatetag openvariable %}value{% templatetag closevariable %})</p>',
  engine: Hogan
});

var prefix_admins = "admins-";
var admins_remove_selector = "[id^='" + prefix_admins + "element-remove-']";
var admins_button_selector = "#add-admins";
var admins_input_selector = "#id_admins";
var admins_format = "/accounts/page/%s/";
var admins_query_url = "{% url 'admins' slug=blog.slug %}";
//var admins_pattern = /\/\w+\/\w+\/([\w.@+-]+)\//;


$(document).ready(function() {
  initialize_elements();
});


$(document).on("click", admins_remove_selector, function() { 
    var value = $(this).val();
    var url = admins_query_url;
    var sdata = { 'type': 'remove_admin', 'admin': value };
    var error_selector = "#admins-errors";
    remove_element(url, sdata, error_selector);
});


$(document).on("click", admins_button_selector, function() { 
    var value = $(admins_input_selector).val();
    var url = admins_query_url;
    var sdata = { 'type': 'add_admin', 'admin': value };
    var error_selector = "#admins-errors";
    add_element(url, sdata, error_selector);
});


// Utility Ajax functions
function initialize_elements() {
  var url = admins_query_url;
  var sdata = { 'type': 'get_admins' };
  var selector = "#admins-list";
  var attr = "username";
  var prefix = prefix_admins;
  var format = "/accounts/page/%s/";
  // `attr' is the same as `attr_value' here
  get_elements(url, format, sdata, selector, attr, attr, prefix);
}



</script>