<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-new thumbnail" style="width: 160px; height: 160px;">
    <img data-src="holder.js/100%x100%" alt="Group Logo">
  </div>
  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 160px"></div>
  <div>
    <span class="btn btn-default btn-file"><span class="fileinput-new">Select Image</span><span class="fileinput-exists">Change</span><input type="file" name="{{ field }}"></span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
</div>