<li {% if request.path == accounts_profile %}class="active"{% endif %} class="dropdown">
  {% if request.user.is_authenticated %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
      {{ request.user.username }}
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
      <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
  {% else %}
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
  {% endif %}

</li>